<ul class="visible-links">
  <!-- Home -->
  <li class="masthead__menu-item masthead__menu-item--lg persist">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </li>

  <!-- Dynamic navigation -->
  {% for link in site.data.navigation.main %}
    <li class="masthead__menu-item">
      <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
    </li>
  {% endfor %}

  <!-- Theme toggle -->
  <li id="theme-toggle" class="masthead__menu-item persist tail">
    <a role="button" aria-labelledby="theme-icon">
      <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
    </a>
  </li>
</ul>
